# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
client_secrets.json
credentials.json

# Ignore virtual environments
venv/
myvenv/

# Ignore IDE and OS files
.DS_Store
.vscode/
